header .container{
 display: flex;
 justify-content: space-between;
 align-items: center;
}
header .Logo{
 display: flex;
 gap: 17px;
 align-items: center;
}
header .Logo img{
 width: 55px;
 height: 55px;
}
header .Icons{
 display: flex;
 gap: 30px;        
}
header .Icons img{
 width: 50px;
 height: 50px;      
}

